[package]
name = "asn1"
version = "0.13.0"
authors = ["Alex Gaynor <alex.gaynor@gmail.com>"]
repository = "https://github.com/alex/rust-asn1"
keywords = ["asn1"]
license = "BSD-3-Clause"
description = "ASN.1 (DER) parser and writer for Rust."
edition = "2021"
# This specifies the MSRV
rust-version = "1.56.0"

[features]
default = ["std"]
std = []
fallible-allocations = []

[dependencies]
chrono = { version = "0.4.23", default-features = false, features = ["alloc"] }
asn1_derive = { path = "asn1_derive/", version = "0.13.0" }

[dev-dependencies]
libc = "0.2.11"
