[package]
name = "asn1"
version = "0.3.0"
authors = ["Alex Gaynor <alex.gaynor@gmail.com>"]
repository = "https://github.com/alex/rust-asn1"
keywords = ["asn1"]
license = "BSD-3-Clause"
description = "ASN.1 (DER) serializer for Rust."
edition = "2018"

[features]
default = ["std"]
std = []

[dev-dependencies]
libc = "0.2"
