on:
  pull_request: {}
  push:
    branches: main

name: Continuous integration

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        RUST:
          - nightly
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@1ce4a7352a1efe5dede2e52c75512b34256e4f44
        with:
          toolchain: ${{ matrix.RUST }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.RUST }}-cargo-2-${{ hashFiles('**/Cargo.toml') }}

      - run: cargo fmt --all -- --check
      - run: cargo fmt --all --manifest-path=asn1_derive/Cargo.toml -- --check

      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo clippy --all-targets --manifest-path=asn1_derive/Cargo.toml -- -D warnings
      - run: cargo clippy --all-targets --all-features -- -D warnings

  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        RUST:
          # MSRV
          - VERSION: "1.47.0"
            FLAGS: "--no-default-features --features std,derive"
          - VERSION: stable
            FLAGS: ""
          - VERSION: stable
            FLAGS: "--no-default-features --features std"
          - VERSION: stable
            FLAGS: "--no-default-features"
            SKIP_TESTS: true
          - VERSION: beta
            FLAGS: ""
          - VERSION: beta
            FLAGS: "--no-default-features --features std"
          - VERSION: nightly
            FLAGS: ""
          - VERSION: nightly
            FLAGS: "--no-default-features --features std"

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@1ce4a7352a1efe5dede2e52c75512b34256e4f44
        with:
          toolchain: ${{ matrix.RUST.VERSION }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.RUST.VERSION }}-cargo-2-${{ hashFiles('**/Cargo.toml') }}

      - run: cargo test ${{ matrix.RUST.FLAGS }}
        if: "${{ !matrix.RUST.SKIP_TESTS }}"

      - run: cargo check ${{ matrix.RUST.FLAGS }}

  fuzz:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        RUST:
          - nightly

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@1ce4a7352a1efe5dede2e52c75512b34256e4f44
        with:
          toolchain: ${{ matrix.RUST }}

      - uses: actions/cache@v3
        id: cargo-cache
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-3-${{ hashFiles('**/Cargo.toml') }}

      - run: cargo install cargo-fuzz
        if: steps.cargo-cache.outputs.cache-hit != 'true'

      - run: cargo fuzz run --all-features fuzz_asn1_parse -- -max_total_time=30

      # On main we fuzz for 30 minutes, but only 30 seconds on PRs.
      - run: cargo fuzz run --all-features fuzz_asn1_parse -- -max_total_time=1800
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
