name: Publish to crates.io
on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@591aa2e893cc3dd3b4b9afa8eefaa0b423d90d68
        id: auth

      - run: cargo publish -p asn1_derive
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
      - run: cargo publish -p asn1
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
